<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67170666079-nih7dqqoain6o1ra7l03jj1e92i5c7h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67170666079-nih7dqqoain6o1ra7l03jj1e92i5c7h2</string>
	<key>API_KEY</key>
	<string>AIzaSyBEZ27fCFP-T2HwxvNsYBZeT797sphklx0</string>
	<key>GCM_SENDER_ID</key>
	<string>67170666079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>flutterlogin-2c3cd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlogin-2c3cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67170666079:ios:5228c63c9c01ec59e4fdea</string>
</dict>
</plist>